.todolist-container {
    text-align: center;
    margin-top: 10px;
}

.tdl-tittle {
    text-transform: uppercase;
    text-decoration: underline;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    border: 2px solid black;
}

/* Estilos para el formulario */
.tdl-form {
    display: flex;
    margin-bottom: 20px;
    height: 70px;
    width: 800px;
    margin: auto;
}

.tdl-input {
    flex: 1;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    font-size: 26px;
}

.tdl-button {
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.tdl-button:hover {
    background-color: #0052a3;
}