/* Estilos para los ítems de la lista */
.tdi-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 10px;
}

.tdi-container span {
    flex: 1;
    font-size: 20px;
}

.tdi-container button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    width: 100px;
    margin-left: 60px;
}

.tdi-container button:hover {
    background-color: #c82333;
}