.weather-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 608px;
    background-color: blueviolet;
}

.weather-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}